<!DOCTYPE html>
<html lang="en">
<!--
dmeyer@wmp1.com
-->

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Howdy</title>
    <link rel="stylesheet" type="text/css" href="/assets/styles/salesforce-lightning-design-system.css" />
    <script>
    function getUrlParameter(name) {
        name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
        var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
        var results = regex.exec(location.search);
        return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
    };
    </script>
</head>

<body>
    <table class="slds-table slds-table_bordered slds-table_cell-buffer slds-size--1-of-1 slds-medium-size--1-of-2">
        <tr>
            <td align="left">
                <img src="" id="fridge" border="0"> </td>
        </tr>
        <tr>
            <td><a href="#" onclick="v.multi()">.</a></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td class="slds-text-align_right">
                <input type="button " class="slds-button--neutral " value="high temperature " onclick="v.temperature()" />
            </td>
        </tr>
        <tr>
            <td class="slds-text-align_right ">
                <input type="button " class="slds-button--neutral " value="high humidity " onclick="v.humidity() " />
            </td>
        </tr>
        <tr>
            <td class="slds-text-align_right ">
                <input type="button " class="slds-button--neutral " value="open door " onclick="v.open() " />
            </td>
        </tr>
        <tr>
            <td class="slds-text-align_right ">
                <input type="button " class="slds-button--neutral " value="close door " onclick="v.close() " />
            </td>
        </tr>
    </table>
    <script>
    let v = {
        img: document.getElementById('fridge'),
        close: function() {
            top.location.href = '/?state=closed';
        },
        open: function() {
            top.location.href = '/?state=open';
        },
        multi: function() {
            top.location.href = '/?state=multi';
        },
        humidity: function() {
            top.location.href = '/?state=humidity';
        },
        temperature: function() {
            top.location.href = '/?state=temperature';
        }
    }
    let door = getUrlParameter('state') ? getUrlParameter('state') : 'closed';
    v.img.src = '/assets/images/fridge-' + door + '.png';
    </script>
</body>

</html>

</html>