<!DOCTYPE html>
<html lang="en">
<!--
dmeyer@wmp1.com
-->

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Howdy</title>
    <link rel="stylesheet" type="text/css" href="/assets/styles/salesforce-lightning-design-system.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>    
    <script>
    function getUrlParameter(name) {
        name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
        var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
        var results = regex.exec(location.search);
        return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
    };
    </script>
</head>

<body>
    <table class="slds-table  slds-table_bordered slds-table_cell-buffer slds-size--1-of-1 slds-medium-size--1-of-2">
        <tr>
            <td align="left">
                <img src="" id="fridge" border="0"> </td>
        </tr>
        <tr>
            <td>
                <a href="#" onclick="v.temperatureTest()">.</a>
                <div align="right">
                    <img src="/assets/images/heroku.png" onclick="v.multi()" border="0"> deviceId:&nbsp;&nbsp;
                    <b><%- fridgeId %></b>&nbsp;
                </div>
            </td>
        </tr>
        <tr>
            <td class="slds-text-align_right">
                <input type="button" class="slds-button--neutral " value="high temperature " onclick="v.temperatureTest()" />
            </td>
        </tr>
        <tr>
            <td class="slds-text-align_right ">
                <input type="button" class="slds-button--neutral " value="high humidity " onclick="v.humidity() " />
            </td>
        </tr>
        <tr>
            <td class="slds-text-align_right ">
                <input type="button" class="slds-button--neutral " value="open door " onclick="v.open() " />
            </td>
        </tr>
        <tr>
            <td class="slds-text-align_right ">
                <input type="button" class="slds-button--neutral " value="close door " onclick="v.close() " />
            </td>
        </tr>
    </table>
    <script>
    let v = {
        img: document.getElementById('fridge'),
        close: function() {
            top.location.href = '/?state=closed';
        },
        open: function() {
            top.location.href = '/?state=open';
        },
        multi: function() {
            top.location.href = '/?state=multi';
        },
        humidity: function() {
            top.location.href = '/?state=humidity';
        },
        temperature: function() {
            top.location.href = '/?state=temperature';
        },
        temperatureTest: function() {
            v.callout('temperature');
        },        
        callout: function(state) {
            let pieces = location.href.split('/');
            let svcUrl = pieces[0] + '//' + pieces[2] + '/service/?state=' + state
            $.ajax({
                url: svcUrl
            }).then(function(data) {
                console.log(data)
                v.img.src = '/assets/images/fridge-' + data + '.png';

                console.log(data);
            });
        }
    }
    let door = getUrlParameter('state') ? getUrlParameter('state') : 'closed';
    v.img.src = '/assets/images/fridge-' + door + '.png';
    </script>
</body>

</html>

</html>